# 数据与缓存
/data/
.Lumi_cache/
*.md

# Python 垃圾
__pycache__/
*.pyc
.venv/
venv/
.env
sync.py

# Flutter 编译产物与跨平台 Ephemeral
/client/build/
/client/.dart_tool/
/client/.flutter-plugins
/client/.flutter-plugins-dependencies
/client/windows/flutter/ephemeral/
/client/macos/Flutter/ephemeral/
/client/linux/flutter/ephemeral/
EBWebView/
*.zip
*.apk
*.ipa
*.sha1
*.log

# IDE 与系统
.vscode/
.idea/
.DS_Store
*.swp

# C++ 编译产物
/cpp_launcher/build/
/cpp_launcher/.vs/
/cpp_launcher/out/

# 允许文档
!README.md
!readme.md

/voiceclone
/host/tools/output_audio